.no-display {
    display: none;
}

.hidden {
    visibility: hidden;
}
.clickable { cursor: pointer; }

body {
    background-color: #144554;
    font-size: 12px;
    font-family: arial;
    padding: 0px;
    margin: 0px;
}

a {
    outline: 0;
}

    a:link {
        color: #034af3;
        text-decoration: underline;
    }

    a:visited {
        color: #505abc;
    }

    a:hover {
        color: #1d60ff;
        text-decoration: none;
    }

    a:active {
        color: #12eb87;
    }

p, ul {
    margin-bottom: 0px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
#page {
    width: 1000px;
    margin: 0px auto;
}

header {
    position: relative;
    height: 91px;
}

    header a#logo {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 400px;
        /*width: 246px;*/
        height: 25px;
        /*background-image: url(images/logo.png);*/
        background-repeat: no-repeat no-repeat;
        color: transparent;
        color: white;
        font-size: 36px;
        font-family: Aharoni;
        text-decoration: none;
    }

nav {
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 20px;
}


#breadcrumb {
    background-color: #576C82;
    margin: 0px;
    padding: 20px;
    color: #fff;
    font-size: 14px;
}

    #breadcrumb span {
        font-weight: bold;
    }

    #breadcrumb a {
        color: #fff;
        background-image: url(./images/breadcrumb.png);
        background-repeat: no-repeat;
        background-position: right center;
        padding: 0px 14px 0px 0px;
        font-size: 14px;
    }

section {
    background-color: #ececec;
    color: #000;
}

#main {
    margin: 0px;
    padding: 20px;
    min-height: 700px;
}

footer {
    text-align: center;
    margin: 20px;
    font-size: 10px;
    color: #fff;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: left;
}

    ul#menu li {
        display: inline-block;
        list-style: none;
        background: #666;
        border: 0px;
        text-align: center;
        color: #fff;
        margin: 0px;
        padding: 0px;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        margin: 0px 2px 0px 0px;
    }

        ul#menu li a {
            display: block;
            min-width: 150px;
            height: 30px;
            line-height: 30px;
            padding: 0px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            margin: 0px;
        }

        ul#menu li:hover {
            text-decoration: underline;
        }

        ul#menu li.selected {
            background-color: #ececec;
        }

            ul#menu li.selected a {
                color: #666;
                text-decoration: none !important;
                cursor: default;
            }


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

div.autoScroll {
    height: 650px;
    overflow-y: auto;
    overflow-x: auto;
}

.grid table {
    border-collapse: collapse;
}

    .grid table th {
        padding: 5px 20px;
        text-align: left;
        background-color: #144554;
        color: #fff;
        border: solid 1px #144554;
        border-right: solid 1px #fff;
        font-weight: normal;
    }

        .grid table th:last-child {
            border-left: solid 1px #144554;
        }

    .grid table tr {
        background-color: #f0f6fb;
    }

        .grid table tr:first-child td {
            border-top: none;
        }

    .grid table.striped tr:nth-child(even) {
        background-color: #fff;
    }

    .grid table td {
        padding: 5px 20px;
        border: solid 1px #d1d1d1;
    }

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
    height: 0px;
}

.error {
    color: Red;
}

#menucontainer {
    margin-top: 0px;
    clear: both;
}

#logindisplay {
    font-size: 13px;
    float: right;
    margin: 20px 20px 0px 0px;
    color: #fff;
}

    #logindisplay span, #logindisplay a#help {
        display: inline-block;
        margin-left: 40px;
        height: 17px;
        line-height: 17px;
    }

    #logindisplay a#help {
        background-image: url(images/btn_questionMark.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 22px;
    }

    #logindisplay a:link, #logindisplay a:visited {
        color: white;
        text-decoration: none;
    }

    #logindisplay a:hover {
        color: white;
        text-decoration: underline;
    }

.helpMarker {
    display: inline-block;
    vertical-align: middle;
    height: 17px;
    width: 17px;
    background-image: url(images/btn_questionMark.png);
    background-repeat: no-repeat;
    background-position: left center;
    color: transparent;
    overflow: hidden;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    background-color: #fdd !important;
    border-color: #f00 !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label {
    margin: 1em 0 0 0;
}

.display-field,
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

    .text-box.multi-line {
        height: 6.5em;
    }

.tri-state {
    width: 6em;
}


.dialog * {
    font-size: 10px;
}


*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

    .ui-timepicker-div dl dt {
        height: 25px;
    }

    .ui-timepicker-div dl dd {
        margin: -25px 10px 10px 65px;
    }

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

div.ui-datepicker {
    font-size: 10px;
}


div.loginBox {
    width: 300px;
    min-height: 230px;
    margin: 200px auto;
    border: solid 2px #000;
    border-radius: 10px;
    background-color: #ccc;
}

    div.loginBox .loginField {
        position: relative;
        padding: 0px;
        width: 240px;
        margin: 0px auto;
        text-align: left;
    }

        div.loginBox .loginField input[type=text] {
            font-size: 16px;
            width: 224px;
            border: inset 1px #333;
            border-radius: 5px;
            padding: 8px;
            margin: 0px;
            background-color: #fff;
        }

        div.loginBox .loginField input[type=password] {
            font-size: 16px;
            width: 194px;
            border: inset 1px #333;
            border-radius: 5px;
            padding: 8px 38px 8px 8px;
            margin: 0px;
            background-color: #fff;
        }

        div.loginBox .loginField input[type=image] {
            position: absolute;
            top: 5px;
            right: 8px;
        }

    div.loginBox div.loginLogo {
        margin: 30px auto;
        background-image: url(images/syncpanel_login_logo.png);
        background-repeat: none;
        width: 246px;
        height: 25px;
    }

    div.loginBox .validationMessage {
        height: 20px;
        vertical-align: middle;
        text-align: center;
    }

    div.loginBox .validationSummary {
        text-align: left;
        margin: 0px auto 20px;
    }

.red {
    color: #f00;
}

.green {
    color: #009900;
}

/* White icons */
.whiteIcons .ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(images/ui-icons_ffffff_256x240.png) /*{iconsContent}*/;
}

.whiteIcons .ui-widget-content .ui-icon {
    background-image: url(images/ui-icons_ffffff_256x240.png) /*{iconsContent}*/;
}

.whiteIcons .ui-widget-header .ui-icon {
    background-image: url(images/ui-icons_ffffff_256x240.png) /*{iconsHeader}*/;
}


/* 2 Column Layout */

div.twoColumn div.leftColumn {
    width: 230px;
    float: left;
}

div.twoColumn div.rightColumn {
    width: 692px;
    float: right;
}


div.statsContainer {
    position: relative;
    float: left;
    width: 600px;
    font-size: 16px;
    font-weight: bold;
}

    div.statsContainer div.activeViewers {
        width: 200px;
        float: left;
        text-align: center;
    }

        div.statsContainer div.activeViewers div.activeViewerCount {
            font-size: 24px;
            padding: 10px;
        }

    div.statsContainer div.maxViewers {
        width: 200px;
        float: left;
        text-align: center;
    }

        div.statsContainer div.maxViewers div.maxViewerCount {
            font-size: 24px;
            padding: 10px;
        }

    div.statsContainer div.avgViewers {
        width: 200px;
        float: left;
        text-align: center;
    }

        div.statsContainer div.avgViewers div.avgViewerCount {
            font-size: 24px;
            padding: 10px;
        }

div.twoColumn div.rightColumn.footer {
    padding: 10px 10px 10px;
}

div.twoColumn div.header {
    height: 40px;
}

    div.twoColumn div.header > h1 {
        margin: 0px;
        font-weight: normal;
        font-size: 24px;
    }

    div.twoColumn div.header > h2 {
        margin: 0px;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
    }

div.twoColumn div.content > h1 {
    margin: 0px;
    padding: 6px 10px;
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    background-color: #144554;
}

div.twoColumn div.content h2 {
    margin: 20px 0px 10px;
    font-weight: normal;
    color: #666;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
}

div.twoColumn div.leftColumn div.content > div {
    padding: 10px 10px 20px;
    border: solid 1px #d1d1d1;
    border-top: none;
    background-color: #fff;
}

div.twoColumn div.leftColumn .ui-datepicker {
    width: 200px;
    margin: 0px 0px 20px auto;
}

div.maintenanceMode {
    font-weight: bold;
    font-size: 14px;
    color: #ff0000;
    padding: 0px 20px 0px 20px;
}

td.StatusInProgress {
    background-color: green;
}

td.StatusBlocked {
    background-color: red;
}

td.StatusComplete {
    background-color: yellow;
}

td input.stepDate {
    width:80px;
}